**/node_modules
**/dist
**/build
**/out
**/.next

packages/web-720/utils/graphql.tsx
packages/web-1080/utils/graphql.tsx
packages/web-720/utils/introspection-result.ts
packages/web-1080/utils/introspection-result.ts